<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="aliftech_menu_root"
        name="Alif Tech"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="aliftech_produk_menu_categ"
        name="Produk"
        parent="aliftech_menu_root"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="aliftech_transaksi_menu_categ"
        name="Transaksi"
        parent="aliftech_menu_root"
        sequence="42"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="aliftech_pegawai_menu_categ"
        name="Pegawai"
        parent="aliftech_menu_root"
        sequence="20"/>

</odoo>